<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_InterfaceProvider" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="TcpEndpoint">
                    <security>
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServices/ServicesProvider/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InterfaceProvider"
                contract="InterfaceProvider.InterfaceProvider" name="BasicHttpBinding_InterfaceProvider" />
            <endpoint address="net.tcp://localhost:9000/TestServiceHost/StockService"
                binding="netTcpBinding" bindingConfiguration="TcpEndpoint"
                contract="StoreService.IStoreService" name="TcpEndpoint">
                <identity>
                    <userPrincipalName value="MARQUES-PC\MARQUES" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>