<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="TcpEndpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/LibrettoBookstore"
        binding="wsDualHttpBinding" bindingConfiguration="TcpEndpoint"
        contract="StoreService.IStoreService" name="TcpEndpoint">
        <identity>
          <userPrincipalName value="JohnSavage-PC\JohnSavage" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>