<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IWarehouseService">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/warehouseMsmq"
                binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_IWarehouseService"
                contract="WarehouseReference.IWarehouseService"
                name="NetMsmqBinding_IWarehouseService"/>
    </client>
  </system.serviceModel>
</configuration>