<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TcpBehaviorConf">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TcpEndpoint">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/LibrettoBookstore/"
                behaviorConfiguration="TcpBehaviorConf"
                binding="netTcpBinding"
                bindingConfiguration="TcpEndpoint"
                contract="StoreService.IStoreService"
                name="TcpEndpoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAaZ6gJg9pKIkBpAaqIGXbI+0sIKkgAAAAAQAAALoBAAAwggG2MIIBZKADAgECAhCAgyih8SVdk0pOBuUpzoPBMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTEwNTA2MDk1MjA3WhcNMzkxMjMxMjM1OTU5WjAZMRcwFQYDVQQDEw5GZXVwRW50ZXJwcmlzZTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAs3HScGzAtFUveI7vp1sHdgR+yQ1whpHRSd7DM8coJcFLjj5KqifECV8J39I9V25OBIAqEMbQ7MqWhjzJnknULrx5lyqnMSb8D8QexUSNCX6HBd+gY5l5Mh9XcNoQwyTQ2BdVfh82g+bRpaX34Xlkif4gywoJiDtUQpmsIFDxLzUCAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQBJ9jW0CEL6prb2gBr5V/Qh/NFS3FTUTPZbes7zVpjR/m3pTQ0X9ESzLzVdLFAndtQEnRfuuHyUHKPMAsFa4oT4" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>